@media (max-width:768px){ .footer{position:absolute;width:100%;} }
@media (min-width:768px){ .footer{position:absolute;width:100%;bottom:0;height:100px;} }
.header-container{
    width: 100%;
    height: 900px;
    border-left: none;
    border-right: none;
    position: relative;
    padding: 20px;
}
.video-container
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
video{
    position: absolute;
    z-index: -1;
    opacity: 0.78;
    width: 100%;
}
.temp{
    height: 1000px;
}
.icon-bar
{
    background-color: #FFF !important;
}
.logo{
    width:  1200px;
    max-width: 50%;
    height: auto;
    margin-top: 25.833333333%;
    margin-left: 2%
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 100px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #393939;
}
.footer-text {
    color: #FF9900;    
}
.row-footer {
  margin: 0 auto;
  padding: 20px 0;
  background-color: #393939;
}

/* navbar */
.navbar{
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}
/*
.navbar li
{
    color: #000;
}*/
/* link */
.navbar .navbar-nav > li > a {
    color: #FFF;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #FF5A09;
}
.navbar .navbar-nav > .active > a, 
.navbar .navbar-nav > .active > a:hover, 
.navbar .navbar-nav > .active > a:focus {
    color: #FF5A09;
}
/* mobile version */
.navbar .navbar-toggle {
    border-color: #FFF;
}
.collapsing, .in {
    background-color: #393939;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar .navbar-toggle .icon-bar {
    background-color: #CCC;
}